services:
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports: [ "9000:9000", "9001:9001" ]
    volumes: [ "minio-data:/data" ]

  hive-metastore:
    image: bitnami/hive:3
    environment:
      HIVE_METASTORE_DATABASE_HOST: postgres
      HIVE_METASTORE_DATABASE_NAME: metastore
      HIVE_METASTORE_DATABASE_USER: hive
      HIVE_METASTORE_DATABASE_PASSWORD: hive
    depends_on: [ postgres ]
    ports: [ "9083:9083" ]

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hive
      POSTGRES_DB: metastore
    ports: [ "5432:5432" ]
    volumes: [ "pg-data:/var/lib/postgresql/data" ]

  trino:
    build: ./images/trino
    environment:
      - AWS_ACCESS_KEY_ID=minio
      - AWS_SECRET_ACCESS_KEY=minio123
      - S3_ENDPOINT=http://minio:9000
    ports: [ "8080:8080" ]
    depends_on: [ minio, hive-metastore ]

  kafka:
    image: bitnami/kafka:latest
    environment:
      KAFKA_ENABLE_KRAFT: "yes"
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
    ports: [ "9092:9092" ]
    volumes: [ "kafka-data:/bitnami/kafka" ]

  spark:
    build: ./images/spark
    environment:
      - SPARK_MODE=master
      - AWS_ACCESS_KEY_ID=minio
      - AWS_SECRET_ACCESS_KEY=minio123
      - S3_ENDPOINT=http://minio:9000
    ports: [ "4040:4040", "18080:18080" ]
    depends_on: [ minio, hive-metastore ]

  airflow:
    build: ./images/airflow
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth
    ports: [ "8088:8080" ]
    depends_on: [ spark, trino, kafka ]

  superset:
    build: ./images/superset
    ports: [ "8089:8088" ]
    depends_on: [ trino ]

  marquez:
    image: marquezproject/marquez:latest
    environment:
      MARQUEZ_DB_HOST: postgres
    ports: [ "5000:5000", "3000:3000" ]
    depends_on: [ postgres ]

  prometheus:
    image: prom/prometheus
    volumes: [ "../monitoring/prometheus/alerts.yml:/etc/prometheus/alerts.yml" ]
    ports: [ "9090:9090" ]

  grafana:
    image: grafana/grafana:latest
    ports: [ "3000:3000" ]
    depends_on: [ prometheus ]
volumes:
  minio-data: {}
  pg-data: {}
  kafka-data: {}
